// main.scss
@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'available-devices';
@use 'footer';
@use 'header';


@font-face {
    font-family: NetflixSans;
    src: url(../../assets/fonts/NetflixSans-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: NetflixSans;
    src: url(../../assets/fonts/NetflixSans-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NetflixSans, sans-serif;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;

}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoSecundario;
}

@mixin title($fontSize: 30px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

@mixin textFlix($fontSize: 16px) {
    font-size: $fontSize;
    color: variaveis.$corTextoPrincipal;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(24px);
}

.textFlix {
    @include textFlix;
}

.textFlix--small {
    @include textFlix(14px);
}


.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)), url(../images/wp8.jpg); /* Gradiente sobre a imagem */
    min-height: 100vh;
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: 100%; /* Centraliza a imagem na hero section */
    background-size: cover; /* Ajusta o tamanho da imagem para caber toda */

    @media (max-width: 768px) {
        display: block;
    }

    img {
        max-width: 100%;
        border-radius: 8px;
    }

    div {
        padding: 0 4vw;
        

        h2 {
            margin-bottom: 24px;
            color: variaveis.$corFundoBotao;

            @media (max-width: 768px) {
                font-size: 26px;
                display: flex;
                justify-content: center;
                text-align: center;
            }

        }
        
    }
}

#onze {
    
    @media (max-width: 768px) {
        font-size: 16px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.image-container {
    width: 800px;
    text-align: center;
    margin-top: 24px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0;
        width: 100%;
    }

    .mobile-image {
        max-width: 100%;
        border-radius: 8px;
        display: block; /* Garante que a imagem seja um bloco */
        margin: 0 auto; /* Centraliza a imagem horizontalmente */
    }

    .download {
        display: block; /* Garante que o botão seja um bloco */
        width: 45%; /* Faz com que o botão tenha a mesma largura da imagem */
        max-width: 100%;
        margin: 10px auto 0; /* Espaço entre a imagem e o botão, e centraliza o botão */
        background-color: variaveis.$corFundoBotao;
        border: variaveis.$corFundoBotao;;
        border-radius: 4px;
        height: 36px;
        color:variaveis.$corTextoSecundario;

        @media (max-width: 768px) {
            height: 45px;
            width: 70%;
        }
    }
}

#baixeAgora {
    background: #000;
}