// main.scss
@use 'variaveis';
@use 'hero';

@font-face {
    font-family: NetflixSans;
    src: url(../../assets/fonts/NetflixSans-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: NetflixSans;
    src: url(../../assets/fonts/NetflixSans-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    font-family: NetflixSans, sans-serif;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoSecundario;
}

@mixin title($fontSize: 30px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

@mixin textFlix($fontSize: 16px) {
    font-size: $fontSize;
    color: variaveis.$corTextoPrincipal;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(24px);
}

.textFlix {
    @include textFlix;
}

.textFlix--small {
    @include textFlix(14px);
}
